<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="renderer" content="webkit">
	<title></title>
	<meta name="revisit-after" content="1 days" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link rel="stylesheet" type="text/css" href="<%-___%>/common/css/common_min.css" />
	<link rel="stylesheet" type="text/css" href="<%-___%>/www/css/demo2.css" />	
</head>
<body>
	<div>我是测试2</div>
</body>
</html>
